/* Style très semblable à celui de la page d'accueil*/


html{
    scroll-behavior: smooth;
}

nav{
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 29, 29);
    float: right;
}

li{
    float: left;
}

nav li a{
    font-size: 22px;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover{
    background-color: rgb(61, 61, 61);
}